*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

#container {
    width: 1440px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    width: 100%;
    top:0;
    z-index: 100000;
    background-color: #fff;
}

.menu ul {
    list-style: none;
    width: 480px;
    display: flex;
    justify-content: space-between;
}
.menu ul li:active a {
    color: #fff;
}
.menu ul li a {
    color: black;
    padding: 5px 10px;
    background-image: linear-gradient(white, white 90%, #0081C9, #0081C9 10%);
    background-size: 100% 110%;
    transition: 0.25s;
}

.menu ul li a:hover {
    background-position: 100% 100%;
    color: grey;
}

a {
    color: black;
}

.menu img{
    width: 200px;
    height: 60px;
}

.sign button {
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    margin: 0 5px 0 0;
}

.signup {
    background-image: linear-gradient(#19376D, #19376D 50%, beige, beige 50%);
    background-size: 100% 200%;
    transition: 1s;
    color: white;
}

.signin {
    background-image: linear-gradient(beige, beige 50%, #19376D, #19376D 50%);
    background-size: 100% 200%;
    transition: 1s;
}


.signup:hover {
    background-position: 100% 100%;
    color: black;
}

.signin:hover {
    background-position: 100% 100%;
    color: white;
}

.bodyblog {
    margin-top: 100px;
}

.body1 img{
    width: 1400px;
    height: 700px;
    margin: 20px auto;
}

.body2 {
    width: 600px;
    margin: 0 auto;
}

.category {
    margin: 0 220px;
}

h1{
    font-size: 80px;
    width: 1000px;
    margin: 0 auto;
}

.body3 img{
    width: 900px;
    margin: 30px 220px;
}

.body3 p,h3{
    width: 600px;
    margin: 30px auto;
}

.body3 p {
    font-size: 20px;
    line-height: 40px;
}

.body3 h3 {
    font-size: 30px;
}


.footer h3 {
    margin: 60px;
}

.footercontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 150px 20px;
}

.footercontentcon {
    margin: 10px 30px;
}

.footertext {
    display: flex;
    align-items: center;
    width: 500px;
    margin: 20px auto;
}

.footertext img {
    width: 35px;
    margin-right: 10px;
}