*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

#container {
    width: 100%;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    width: 100%;
    top:0;
    z-index: 100000;
    background-color: #fff;
}

.menu ul {
    list-style: none;
    width: 480px;
    display: flex;
    justify-content: space-between;
}

.menu ul li a {
    color: black;
    padding: 5px 10px;
    background-image: linear-gradient(white, white 90%, #0081C9, #0081C9 10%);
    background-size: 100% 110%;
    transition: 0.25s;
}

.menu ul li a:hover {
    background-position: 100% 100%;
    color: grey;
}
.menu ul li.active a {
    color: #fff;
}
a:-webkit-any-link:active {
    color: yellow !important;
}
a {
    color: black;
}

.menu img{
    width: 200px;
    height: 60px;
}

.sign button {
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    margin: 0 5px 0 0;
}

.signup {
    background-image: linear-gradient(#19376D, #19376D 50%, beige, beige 50%);
    background-size: 100% 200%;
    transition: 1s;
    color: white;
}

.signin {
    background-image: linear-gradient(beige, beige 50%, #19376D, #19376D 50%);
    background-size: 100% 200%;
    transition: 1s;
}


.signup:hover {
    background-position: 100% 100%;
    color: black;
}

.signin:hover {
    background-position: 100% 100%;
    color: white;
}

.bodycontain {
    background-image: url("img/banner3.jpg");
}

.body {
    margin: 80px auto;
    width: 700px;
    border: 3px solid black;
    padding: 30px;
    text-align: center;
    font-family: 'Merriweather', serif;

}

.formpart {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.formpart p {
    text-align: left;
}

.form p {
    font-size: 20px;
}

.form input {
    width: 300px;
    height: 30px;
    margin: 10px 0;
}


.message input{
    width: 100%;
    height: 80px;   
}

.message p {
    text-align: left;
}

.body button {
    width: 100px;
    height: 30px;
    font-size: 20px;
    border-radius: 15px;
    margin: 10px auto 0;
    font-family: 'Merriweather', serif;
}



.footer h3 {
    margin: 60px;
}

.footercontent {
    display: flex  ; 
    justify-content: space-between;
    align-items: center;
    padding: 5px 150px 20px;
}

.footercontentcon {
    margin: 10px 30px;
}

.footertext {
    display: flex;
    align-items: center;
    width: 500px;
    margin: 20px auto;
}

.footertext img {
    width: 35px;
    margin-right: 10px;
}