.title {
    text-align: center;
    padding: 40px;
    background-color: #19376D;
    color: white;
}

.search-box{
    text-align: center;
    padding: 40px 0;
}

.search-box-input {
    width: 600px;
    height: 40px;
    border-radius: 20px;
}

.letter-section {
    display: flex;
}

.letter {
    font-size: 40px;
    font-weight: bold;
}

.term {
    display: flex;
    align-items: center;
}

.term a{
    display: flex;
    align-items: center;
}

.term img {
    width: 200px;
    border-radius: 100px;
    margin: 10px;
}

