#container {
    margin: 0 auto;
    width: 1440px;
    background-image: url("../../img/login.jpg");
    background-size: cover;
    padding: 100px 0;
}

a {
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    width: 100%;
    top:0;
    z-index: 100000;
    background-color: #fff;
}

.menu ul {
    list-style: none;
    width: 480px;
    display: flex;
    justify-content: space-between;
}
.menu ul li:active a {
    color: #fff;
}
.menu ul li a {
    color: black;
    padding: 5px 10px;
    background-image: linear-gradient(white, white 90%, #0081C9, #0081C9 10%);
    background-size: 100% 110%;
    transition: 0.25s;
}

.menu ul li a:hover {
    background-position: 100% 100%;
    color: grey;
}

a {
    color: black;
}

.menu img{
    width: 200px;
    height: 60px;
}

.sign button {
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    margin: 0 5px 0 0;
}

.signup {
    background-image: linear-gradient(#19376D, #19376D 50%, beige, beige 50%);
    background-size: 100% 200%;
    transition: 1s;
    color: white;
}

.signin {
    background-image: linear-gradient(beige, beige 50%, #19376D, #19376D 50%);
    background-size: 100% 200%;
    transition: 1s;
}


.signup:hover {
    background-position: 100% 100%;
    color: black;
}

.signin:hover {
    background-position: 100% 100%;
    color: white;
}

.form {
    width: 1000px;
    margin: 100px auto;
    padding: 20px 20px;
    background-color: white;
    font-family: 'Merriweather', serif;
    text-align: center;
}

.form img{
    width: 200px;
}

.input {
    display: flex;
    align-items: center;
    margin: 15px;
}

.inputtong {
    margin: 50px 350px 20px;

}
.input input {
    width: 700px;
    height: 30px;
    border-radius: 20px;
    margin-left: 5px;
}

.input img{
    width: 30px;
    
}

.button {
    height: 30px;
    width: 70px;
    border-radius: 15px;
    border: none;
    background-image: linear-gradient(#19376D, #19376D 50%, beige, beige 50%);
    background-size: 100% 200%;
    color: white;
    font-size: 15px;
}

.button:hover {
        background-position: 100% 100%;
        color: black;

}

.forgetpass a{
    overflow: hidden;
  }
  
  .forgetpass:after a{
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
  }
  
  .forgetpass a:hover::after,
  .forgetpass a:focus::after{
    transform: translate3d(0, 0, 0);
  }

.form a {
    display: block;
    margin: 5px;
}