

.search-bar {
    background: #19376D;
    color: #ffffffce;
    padding: 20px;
}

.search-bar input {
    border-radius: 25px;
    width: 300px;
    height: 30px;
}

.course-display {
    display: flex;
}

.course {
    display: flex;
    padding: 30px;
    border: 0.1px;
    width: 253px;
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.course-image-section {
    width: 230px;
    text-align: center;
}


.img {
    width: 100%;
    /* text-align: center;
    overflow: hidden; */
}

.course-individual-info button {
    width: 100px;
    height: 30px;
    border-radius: 30px;
    background-color: #19376D;
    color: white;
    cursor: pointer;
}